*.pyc
__pycache__/
db.sqlite3
env/
venv/
*.log
*.sqlite3
*.env
.DS_Store
node_modules/
staticfiles/
echo "decoded.json" >> .gitignore
echo "serviceAccountKey.json" >> .gitignore
git add .gitignore
git commit -m "Ignore secret files"
# Ignore secrets
project/serviceAccountKey.json
decoded.json
